<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <center>
        <h1>Event</h1>
    </center>
    <div class="Container">
        <form action='/doRegister' method="post">
            <label>Name</label> <input type="text" name="name" id="">
            <span class="errorMsg">{{error.name}}</span> <br>
            <br>
            <label>Date</label> <input type="date" name="eventdate" id="">
            <br>
            <span class="errorMsg">{{error.date}}</span> <br>
            <br>
            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
            <br><br>
            <center><button type="submit" name="register" value="Register">Register</button></center>
        </form>
    </div>
</body>

</html>